@model Monrach240Pre.Data.Entities.TestData

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TestData</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TIMESTAMP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TIMESTAMP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DATE_TIME_STAMP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DATE_TIME_STAMP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DATA_SOURCE_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DATA_SOURCE_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DEVICE_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DEVICE_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PATIENT_SEQ_NUM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PATIENT_SEQ_NUM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PATIENT_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PATIENT_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PATIENT_NAME)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PATIENT_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PATIENT_NAME_LAST)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PATIENT_NAME_LAST)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PATIENT_NAME_MIDDLE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PATIENT_NAME_MIDDLE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PATIENT_NAME_FIRST)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PATIENT_NAME_FIRST)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PATIENT_NAME_SEX)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PATIENT_NAME_SEX)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PATIENT_ADDRESS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PATIENT_ADDRESS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PATIENT_PHONE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PATIENT_PHONE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PATIENT_RACE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PATIENT_RACE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RESULT_SEQ_NUM)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RESULT_SEQ_NUM)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RESULT_TEST_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RESULT_TEST_ID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RESULT_TEST_ID1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RESULT_TEST_ID1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RESULT_TEST_ID2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RESULT_TEST_ID2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RESULT_TEST_ID3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RESULT_TEST_ID3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RESULT_TEST_ID4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RESULT_TEST_ID4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RESULT_VALUE)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RESULT_VALUE)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RESULT_UNIT)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RESULT_UNIT)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RESULT_ABNORMAL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RESULT_ABNORMAL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RESULT_STATUS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RESULT_STATUS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RESULT_OPERATOR_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RESULT_OPERATOR_ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
