@model IEnumerable<Monrach240Pre.Data.Entities.TestData>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TIMESTAMP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATE_TIME_STAMP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DATA_SOURCE_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DEVICE_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PATIENT_SEQ_NUM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PATIENT_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PATIENT_NAME)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PATIENT_NAME_LAST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PATIENT_NAME_MIDDLE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PATIENT_NAME_FIRST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PATIENT_NAME_SEX)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PATIENT_ADDRESS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PATIENT_PHONE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PATIENT_RACE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESULT_SEQ_NUM)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESULT_TEST_ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESULT_TEST_ID1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESULT_TEST_ID2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESULT_TEST_ID3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESULT_TEST_ID4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESULT_VALUE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESULT_UNIT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESULT_ABNORMAL)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESULT_STATUS)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RESULT_OPERATOR_ID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TIMESTAMP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATE_TIME_STAMP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DATA_SOURCE_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DEVICE_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PATIENT_SEQ_NUM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PATIENT_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PATIENT_NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PATIENT_NAME_LAST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PATIENT_NAME_MIDDLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PATIENT_NAME_FIRST)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PATIENT_NAME_SEX)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PATIENT_ADDRESS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PATIENT_PHONE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PATIENT_RACE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESULT_SEQ_NUM)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESULT_TEST_ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESULT_TEST_ID1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESULT_TEST_ID2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESULT_TEST_ID3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESULT_TEST_ID4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESULT_VALUE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESULT_UNIT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESULT_ABNORMAL)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESULT_STATUS)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RESULT_OPERATOR_ID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
